# Entornos virtuales
.venv/
venv/

# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store